<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../arquivos/styleHome.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Alterar Dados</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="user-profile">
                    <img src="../arquivos/iconPac.png" alt="Foto de Perfil" class="profile-picture">
                    <h4><%= nomePaciente %></h4>
                </div>
                <div class="menu">
                    <div class="menu-item">
                        <a>Email</a>
                        <div class="submenu">
                            <div class="submenu-item">
                                <a href="/pac_cxEntrada/<%= idPaciente %>">Caixa de Entrada</a>
                            </div>
                            <div class="submenu-item">
                                <a href="/pac_enviados/<%= idPaciente %>">Enviados</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a>Consultas</a>
                        <div class="submenu">
                            <div class="submenu-item">
                                <a href="/selectProximasConsultas/<%= idPaciente %>">Próximas Consultas</a>
                            </div>
                            <div class="submenu-item">
                                <a href="/selectPacNovaConsulta/<%= idPaciente %>">Agendar Consulta</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a>Médicos</a>
                        <div class="submenu">
                            <div class="submenu-item">
                                <a href="/listagemMedicos">Listagem de Médicos</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a>Dados Cadastrais</a>
                        <div class="submenu">
                            <div class="submenu-item">
                                <a href="/selectPaciente/<%= idPaciente %>">Alterar Dados</a>
                            </div>
                            <div class="submenu-item">
                                <a href="/deletarPaciente/<%= idPaciente %>">Excluir Conta</a>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-9">
                <div class="content" id="content">
                    <h2>Alterar Dados</h2>
                    <form method="post" action="/updateDadosPac">
                        <div class="form-group">
                            <label for="nomePaciente">Nome:</label>
                            <input type="text" class="form-control" id="nomePaciente" name="nomePaciente" required value="<%= nomePaciente %>">
                        </div>
                        <div class="form-group">
                            <label for="sobrenomePac">Sobrenome:</label>
                            <input type="text" class="form-control" id="sobrenomePac" name="sobrenomePac" required value="<%= sobrenomePac %>">
                        </div>
                        <div class="form-group">
                            <label for="CPF">CPF:</label>
                            <input type="text" class="form-control" id="CPF" name="CPF" required value="<%= CPF %>">
                        </div>
                        <div class="form-group">
                            <label for="telefone">Telefone:</label>
                            <input type="text" class="form-control" id="telefone" name="telefone" required value="<%= telefone %>">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required value="<%= email %>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="idPaciente">ID:</label>
                            <input type="idPaciente" class="form-control" id="idPaciente" name="idPaciente" required value="<%= idPaciente %>" readonly>
                        </div>
                            <button type="submit" class="btn btn-primary ml-5">Salvar</button>
                        </div>
                    </form>        
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
