<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../arquivos/styleHome.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Enviar Email</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="user-profile">
                    <img src="../arquivos/iconPac.png" alt="Foto de Perfil" class="profile-picture">
                    <h4><%= dadosConsulta.nomePaciente %></h4>
                </div>
                <div class="menu">
                    <div class="menu-item">
                        <a>Email</a>
                        <div class="submenu">
                            <div class="submenu-item">
                                <a href="/pac_cxEntrada/<%= dadosConsulta.idPaciente %>">Caixa de Entrada</a>
                            </div>
                            <div class="submenu-item">
                                <a href="/pac_enviados/<%= dadosConsulta.idPaciente %>">Enviados</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a>Consultas</a>
                        <div class="submenu">
                            <div class="submenu-item">
                                <a href="/selectProximasConsultas/<%= dadosConsulta.idPaciente %>">Próximas Consultas</a>
                            </div>
                            <div class="submenu-item">
                                <a href="/selectPacNovaConsulta/<%= dadosConsulta.idPaciente %>">Agendar Consulta</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a>Médicos</a>
                        <div class="submenu">
                            <div class="submenu-item">
                                <a href="/listagemMedicos">Listagem de Médicos</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a>Dados Cadastrais</a>
                        <div class="submenu">
                            <div class="submenu-item">
                                <a href="/selectPaciente/<%= dadosConsulta.idPaciente %>">Alterar Dados</a>
                            </div>
                            <div class="submenu-item">
                                <a href="/deletarPaciente/<%= dadosConsulta.idPaciente %>">Excluir Conta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="content" id="content">
                    <h2>Enviar Email</h2>
                    <form method="post" action="/enviarEmail">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="remetente"> De:</label>
                                <input type="email" class="form-control" id="remetente" name="remetente" required value="<%= dadosConsulta.emailPac %>" readonly>
                            </div>
                            <div class="form-group">
                                <label for="destinatario">Para:</label>
                                <input type="text" class="form-control" id="destinatario" name="destinatario" required value="<%= dadosConsulta.emailMed %>" readonly>
                            </div>
                            <div class="form-group">
                                <label for="assunto">Assunto:</label>
                                <input type="text" class="form-control" id="assunto" name="assunto" required value="Nova Consulta: <%= dadosConsulta.dataConsulta %>" readonly>
                            </div>
                            <div class="form-group">
                                <label for="corpoEmail">Dados de Consulta:</label>
                                <textarea cols="20" rows="6" class="form-control" id="corpoEmail" name="corpoEmail" required readonly>
Medico: <%= dadosConsulta.nomeMedico %>, ID: <%= dadosConsulta.idMedico %>,
Paciente: <%= dadosConsulta.nomePaciente %>, ID: <%= dadosConsulta.idPaciente %>,
Data da Consulta: <%= dadosConsulta.dataConsulta %>,
Horário de Início: <%= dadosConsulta.horaInicio %>,
Tipo de Consulta: <%= dadosConsulta.tipoConsulta %>,
Status: <%= dadosConsulta.ativo %>
                                </textarea>
                            </div>
                            <button type="submit" class="btn btn-primary ml-5">Enviar</button>
                        </div>
                    </form>        
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
