<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../arquivos/styleHome.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Listagem de Médicos</title>
</head>
<body>
        <div class="col-md-9">
            <div class="content" id="content">
                <h2>Listagem de Médicos</h2>
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>idMedico</th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Especialidade</th>
                            <th>CRM</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                  
                    <tbody>
                        <% for (const Medico of Medicos) { %>
                            <tr>
                            <td><%= Medico.idMedico %></td>
                            <td><%= Medico.nomeMedico %></td>
                            <td><%= Medico.sobrenomeMed %></td>
                            <td><%= Medico.especialidade %></td>
                            <td><%= Medico.crm %></td>
                            <td><%= Medico.email %></td>
                        </tr>
                        <% } %>   
                    </tbody>
                  
                </table>
            </div>
                    
        </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
