<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../arquivos/styleHome.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Solicitar Nova Consulta</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="user-profile">
                    <img src="../arquivos/iconPac.png" alt="Foto de Perfil" class="profile-picture">
                    <h4><%= nomePaciente %></h4>
                </div>
                <div class="menu">
                    <div class="menu-item">
                        <a>Email</a>
                        <div class="submenu">
                            <div class="submenu-item">
                                <a href="/pac_cxEntrada/<%= idPaciente %>">Caixa de Entrada</a>
                            </div>
                            <div class="submenu-item">
                                <a href="/pac_enviados/<%= idPaciente %>">Enviados</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a>Consultas</a>
                        <div class="submenu">
                            <div class="submenu-item">
                                <a href="/selectProximasConsultas/<%= idPaciente %>">Próximas Consultas</a>
                            </div>
                            <div class="submenu-item">
                                <a href="/selectPacNovaConsulta/<%= idPaciente %>">Agendar Consulta</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a>Médicos</a>
                        <div class="submenu">
                            <div class="submenu-item">
                                <a href="/listagemMedicos">Listagem de Médicos</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a>Dados Cadastrais</a>
                        <div class="submenu">
                            <div class="submenu-item">
                                <a href="/selectPaciente/<%= idPaciente %>">Alterar Dados</a>
                            </div>
                            <div class="submenu-item">
                                <a href="/deletarPaciente/<%= idPaciente %>">Excluir Conta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="content" id="content">
                    <h2>Nova Consulta</h2>
                    <form method="post" action="/solicitarConsulta">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="idPaciente">Seu ID:</label>
                                <input type="text" class="form-control" id="idPaciente" name="idPaciente" required value="<%= idPaciente %>" readonly>
                            </div>
                            <div class="form-group">
                                <label for="idMedico">idMedico:</label>
                                <input type="idMedico" class="form-control" id="idMedico" name="idMedico" required>
                            </div>
                            <div class="form-group">
                                <label for="dataConsulta">Data da Consulta:</label>
                                <input type="date" class="form-control" id="dataConsulta" name="dataConsulta" required>
                            </div>
                            <div class="form-group">
                                <label for="horaInicio">Horário de Início:</label>
                                <input type="time" class="form-control" id="horaInicio" name="horaInicio" required>
                            </div>
                            <div class="form-group">
                                <select class="form-select" id="tipoConsulta" name="tipoConsulta" aria-label="Floating label select example">
                                    <option selected>Tipo de Consulta</option>
                                    <option value="Primeira Vez">Primeira Vez</option>
                                    <option value="Retorno">Retorno</option>
                                    <option value="Recorrente">Recorrente</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary ml-5">Agendar</button>
                        </div>
                    </form>        
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
